body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    list-style: none;
    font-weight: bold;
    color: white;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: white;

}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:"nyt-cheltenham",georgia,"times new roman",times,serif;
}
p, ol li {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
   position:fixed;
   /*left:0px;*/
   bottom:0px;
   height:30px;
   margin: 60px auto;
   width:70%;
   background-color:#999;
   font-size: .8em;
   color: white;
}


/*footer {*/
/*    border-top: 1px solid #d5d5d5;*/
/*    font-size: .8em;*/
/*}*/

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
